<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="project1.html">Statistics</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Websites
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="google.html">Google</a>
                        <a class="dropdown-item" href="youtube.html">Youtube</a>
                        <a class="dropdown-item" href="facebook.html">Facebook</a>
                        <a class="dropdown-item" href="twitter.html">Twitter</a>
                        <a class="dropdown-item" href="baidu.html">Baidu</a>
                        <a class="dropdown-item" href="instagram.html">Instagram</a>
                        <a class="dropdown-item" href="wikipedia.html">Wikipedia</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sitemap.html">Site Map</a>
                </li>

            </ul>
        </div>

    </nav>
</header>